@media screen and (max-width: 576px) {

       /* base */
       
       :root{
           --fs-main-heading:3rem;
        }
        
      .container{padding: var(--padding-400);}
      .texts{text-align: center;}
      
      section:not(#home){
        padding-top: 2rem;
        padding-inline: 0rem;
      }

    /* display: none */ 
    
    /* global items */

    .image{display: none;}

        /* header items */
    .menu-items{display: none;}
    .icon-close{display: none;}
  

        /* this is the toggle menu */
         .mobile{display: block;}

    .toggle{
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        top: 3rem;
        right: 2rem;
    }
    
    .icon-menu{
        bottom: .5rem;
    }

     /* When Menu is open  */

     
    .open .logo{
        display: none;
    }

    .open .icon-menu{
        display: none;
    }

    .open .icon-close{
        display: block;
    }

    .menu.open{
       background: white;
       height: 30vh;
       width: 100vw;
       position: absolute;
       top: 0;
       right: 0;
       transition: .3s;
    }

    .open .menu-items{
        display: grid;
        place-items: center;
        justify-items: center;
        width:95%;
        margin-top: 2rem;
    }

    /* #companies{
        padding-inline: 0rem;
    }
  */

    .brands {
        display: grid;
        height: 50rem;
        justify-content: center;
    }

    /* 
     testimonials is padding: 0; 
    because we have to put it so our cards can have an inline margin to the center
    */

    #testimonials{
        padding: 0rem;
    }

    .cards{
        display: grid;
    }

    .card{
        height: 38.4rem;
        width: 27rem;
    }

    .box{   
        padding:2rem 4.5rem;
        height: 50.43rem; 
    }    

    .box .title{
        margin-bottom: 1.6rem;
    }
}

