@media screen and (max-width: 576px) {

       /* base */

       :root{
        --fs-main-heading:3rem;
       }

       .texts{text-align: center;}

    /* display: none */ 
    
    /* global items */

    .image{display: none;}

        /* header items */
    .menu-items{display: none;}
    .icon-close{display: none;}
  

        /* this is the toggle menu */
         .mobile{display: block;}

    .toggle{
        cursor: pointer;
        font-size: 1.6rem;
        position: absolute;
        right: 1rem;
    }
    
    .icon-menu{
        bottom: .5rem;
    }

     /* When Menu is open  */

     
    .open .logo{
        display: none;
    }

    .open .icon-menu{
        display: none;
    }

    .open .icon-close{
        display: block;
    }

    .menu.open{
       background: white;
       height: 20rem;
       width: 40rem;
       position: relative;
       right:8rem;
       transition: .3s;
    }

    .open .menu-items{
        display: grid;
        place-items: center;
        justify-items: center;
        width:95%;
        margin-top: 2rem;
    }

 
}

@media screen and (min-width: 420px) {
    .menu.open{
        right: 6rem;
    }
}

/* Gambiarra temporária */

@media screen and (min-width: 500px) {
    .menu.open{
        right: 6.4rem;
        width: 45.4rem;
    }
}

